@font-face {
    font-family: helvetica_bold;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/HelveticaNeue-Bold/HelveticaNeue-Bold.eot?#iefix) format("embedded-opentype"), url(../fonts/HelveticaNeue-Bold/HelveticaNeue-Bold.woff) format("woff"), url(../fonts/HelveticaNeue-Bold/HelveticaNeue-Bold.ttf) format("truetype"), url(../fonts/HelveticaNeue-Bold/HelveticaNeue-Bold.svg#helvetica_bold) format("svg")
}
@font-face {
	font-weight: normal;
    font-style: normal;
    font-family: 'Helvetica Neue';
    src: url('../fonts/helveticaneue-webfont.eot');
    src: url('../fonts/helveticaneue-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/helveticaneue-webfont.woff') format('woff'),
    url('../fonts/helveticaneue-webfont.ttf') format('truetype'),
    url('../fonts/helveticaneue-webfont.svg#icons') format('svg');
	
}
@font-face {
  font-family: 'help';
  src: url('../fonts/help.eot');
  src: url('../fonts/help.eot?#iefix') format('embedded-opentype'),
       url('../fonts/help.woff2') format('woff2'),
       url('../fonts/help.woff') format('woff'),
       url('../fonts/help.ttf') format('truetype'),
       url('../fonts/help.svg#help') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'icon-newuser';
  src: url('../fonts/icon-newuser.eot');
  src: url('../fonts/icon-newuser.eot?#iefix') format('embedded-opentype'),
       url('../fonts/icon-newuser.woff2') format('woff2'),
       url('../fonts/icon-newuser.woff') format('woff'),
       url('../fonts/icon-newuser.ttf') format('truetype'),
       url('../fonts/icon-newuser.svg#icon-newuser') format('svg');
  font-weight: normal;
  font-style: normal;
}