@font-face {
	font-weight: normal;
    font-style: normal;
    font-family: 'Helvetica Neue';
    src: url('../fonts/helveticaneue-webfont.eot');
    src: url('../fonts/helveticaneue-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/helveticaneue-webfont.woff') format('woff'),
    url('../fonts/helveticaneue-webfont.ttf') format('truetype'),
    url('../fonts/helveticaneue-webfont.svg#icons') format('svg');
	
}

@font-face {
    font-family: "Helvetica Neue Bold";
    src: url('../fonts/HelveticaNeue-Bold.eot');
    src: url('../fonts/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeue-Bold.woff') format('woff'),
    url('../fonts/HelveticaNeue-Bold.ttf') format('truetype'),
    url('../fonts/HelveticaNeue-Bold.svg#icons') format('svg');
    font-weight: bold;
}

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'HelveticaNeue Light';
    src: url('../fonts/HelveticaNeue-Light.eot');
    src: url('../fonts/HelveticaNeue-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeue-Light.woff') format('woff'),
    url('../fonts/HelveticaNeue-Light.ttf') format('truetype'),
    url('../fonts/HelveticaNeue-Light.svg#icons') format('svg');
}

@font-face {
    font-family: "Kaufmann BT";
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/Kaufmann-BT.eot');
    src: url('../fonts/Kaufmann-BT.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Kaufmann-BT.woff') format('woff'),
    url('../fonts/Kaufmann-BT.ttf') format('truetype'),
    url('../fonts/Kaufmann-BT.svg#icons') format('svg');
}
  .ui-autocomplete-multiselect.ui-state-default {
            margin-top: 0px!important;left:202px; 
        }



button:focus, a:focus, input:focus {
    outline: none;
}

.fixed_header {

    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 100;
    text-align: right;
    padding: 5px 8% 5px 0;
    min-width: 450px;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    top: -100%;
}

.fixed_header.fixed {
    top: 0;
}

.main_section {
    position: relative;
    text-align: center;
    overflow: hidden;
    max-height: 1080px;
    min-height: 550px;
}

.main_section .banner_wrap * {
    min-width: 100%;
    position: relative;
    left: 0;
    top: 0;
    min-height: 100%;
}

.main_section .banner_wrap {
    position: relative;
    font-size: 0;
    height: 100%;
}

.main_section .banner_wrap:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    background: rgba(0, 0, 0, 0);
}

.fixed_header .blue_btn {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #0fa1f0;
    border: 0;
    color: #fff;
    padding: 5px 64px;
    font-size: 18px;
}

.fixed_header .login_btn {
    background: transparent;
    border: 1px solid #fff;
    padding: 2px 14px;
    color: #fff;
    font-size: 17px;
    margin-left: 19px;
}

.fixed_header a {
    cursor: pointer;
    text-decoration: none;
    transition: 0.1s ease-in-out;
}

.fixed_header a:hover {
    text-decoration: none;
    opacity: 0.9;
}

.main_section .search_wrap {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    padding-top: 220px;
    padding-top: 11.5%;
}

.main_section h1 {
    font-size: 40px;
    color: #fff;
    font-weight: normal;
}

.main_section .input_wrap {
    width: 450px;
    height: 50px;
    position: relative;
    background: #fff;
    margin: 77px auto 64px auto;
    text-align: left;
}

.header_tool {
    float: left;
    height: 35px;
    margin-top: 16px;
    padding-left: 5px;
   /* width: 93px;*/
	padding-right:5px;
	box-sizing: content-box!important;
}
.header_tool2 {
    float: left;
	box-sizing: content-box!important;
}
#advsearch_down{box-sizing: content-box!important;}
.chat_tool {
    float: left;
    height: 35px;
    margin-top: 6px;
    padding-left: 5px;
    width: 150px;
}
/*.header_tool img{max-width:none!important;}*/


.main_section .input_wrap input {
    background: transparent;
    border: 0;
    width: 377px;
    position: absolute;
    top: 8px;
    left: 15px;
    height: 35px;
    font-size: 14px;
    z-index: 10;
}

.main_section .input_wrap .search_btn {
    background: #070716 url(../img/search_icon.jpg) no-repeat center;
    width: 41px;
    height: 41px;
    position: absolute;
    top: 4px;
    right: 4px;
    border: 0;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

.main_section .input_wrap .search_btn:hover {
    opacity: 0.9;
}

.main_section .placeholder {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 14px;
    color: #8e8c8c;
    line-height: 50px;
    letter-spacing: 1px;
    padding-left: 17px;
}

.main_section .placeholder strong {
    font-size: 22px;
    color: #fa7000;
    font-weight: normal;
    letter-spacing: 0;
    padding-right: 8px;
}

.main_section .benefits {
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}

.main_section .benefits strong {
    font-size: 57px;
    display: inline-block;
    vertical-align: middle;
    font-weight: normal;
    padding-right: 8px;
}

.main_section .benefits span {
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
}

.main_section .benefits.one {
    border-right: 3px solid #fff;
    padding-right: 3px;
    padding-left: 28px;
}

.main_section .benefits.two {
    padding-left: 18px;
}

.why_color {
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 110px;
    text-align: center;
    font-size: 17.5px;
    padding-bottom: 40px;
    z-index: 3;
    display: inline-block;
    cursor: pointer;
    left: 50%;
    margin-left: -55px;
}

.choice_section {
    text-align: center;
    padding-top: 48px;
    padding-bottom: 50px;
}

.choice_section .title_label {
    background: #000000;
    color: #fff;
    display: inline-block;
    text-align: center;
    font-size: 13px;
    text-transform: uppercase;
    padding: 4px 11px;
}

.choice_section h2 {
    color: rgba(0, 0, 0, 0.7);
    font-size: 36px;
    font-weight: 300;
    text-transform: uppercase;
    margin-top: 23px;
    margin-bottom: 7px;
    padding-left: 15px;
    padding-right: 15px;
}

.choice_section h3 {
    font-size: 17px;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 300;
    margin-bottom: 59px;
    padding-left: 15px;
    padding-right: 15px;
}

.choice_container {
    width: 1068px;
    padding: 0 15px;
    margin: 0 auto;
}

.choice_row {
    margin: 0 -5px;
    font-size: 0;
}

.choice_section .column {
    display: inline-block;
    vertical-align: top;
    padding: 0 5px;
    width: 33.333%;
    margin-bottom: 10px;
}

.choice_section .choice_wrap {
    display: block;
    overflow: hidden;
    position: relative;
    height: 284px;
}

.choice_section .choice_wrap img {
    width: 100%;
    height: auto;
    min-height: 100%;
}

.choice_section p {
    color: #ffffff;
    font-size: 36px;
    font-weight: 300;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: left;
    left: 0;
    top: 0;
    padding: 58px 10px 10px 45px;
    background: rgba(45, 47, 67, 0.7);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.choice_section .choice_wrap.roll_down p,
.choice_section .choice_wrap:hover p {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    transform: translateY(100%);
}

.choice_section .choice_wrap p:before {
    content: "";
    width: 10px;
    height: 40px;
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: 58px;
    left: 0;
}

.choice_section p.orange:before {
    background: #e87404;
}

.choice_section p.pink:before {
    background: #b5038f;
}

.choice_section p.violet:before {
    background: #6103b5;
}

.choice_section p.blue:before {
    background: #0903b5;
}

.choice_section p.sky_blue:before {
    background: #0388b5;
}

.choice_section p.green:before {
    background: #2cb503;
}

.choice_section .blue_btn {
    color: #fff;
    font-size: 18px;
    background: #0fa1f0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-decoration: none;
    transition: 0.1s ease-in-out;
    display: inline-block;
    margin-top: 69px;
    padding: 5px 63px;
}

.choice_section .blue_btn:hover {
    opacity: 0.9;
    text-decoration: none;
}

.animate_selector {
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
    -moz-transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.animate_selector.animate {
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
}



/*.input_wrap input{width: 700px!important;}*/
.input_wrap input{width: 527px!important; }

/*.ui-autocomplete-multiselect.ui-state-default{width: 683px!important;}*/
/*.ui-autocomplete-multiselect.ui-state-default{width: 581px!important; left:202px;}*/
.advance_category ul {
    margin-left: 15px;
}

.advance_category ul li {
    list-style: none;
    line-height: 14px;
}

.advance_category ul li a {
    color: #817d7d;
    text-transform: uppercase;
}

.advance_category ul li a:hover {
    text-decoration: none;
    color: #ff3800;
}




.header_red {
    color: #f60707;
}

.header_red_space {
    padding: 0 !important;
}

.fixed_header {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    width: 100%;
    z-index: 100;
    text-align: right;
    padding: 17px 4% 16px 0;
    min-width: 450px;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    top: -100%;
    font-size: 14px;
    color: #7b7979;
}

.fixed_header a {
    color: #7b7979;
    padding: 0 5px;
}

.fixed_header span {
    padding: 0 5px;
}
.cartTopDetails{z-index:99px!important;}
.cartTopDetails  .submenu-button{display:none;}
.cartWrapper a{font-size:14px; color:#7b7979!important; padding:0!important; }
.cartWrapper {/*border-right: 2px solid #a49f9f;*/padding: 0 8px 5px 0; top:6px;}
.fixed_header.fixed {
    top: 0;
}

.main_section {
    position: relative;
    text-align: center;
    overflow: hidden;
    max-height: 1080px;
    min-height: 360px;
}

.main_section .banner_wrap * {
    min-width: 100%;
    position: relative;
    left: 0;
    top: 0;
    min-height: 100%;
}

.main_section .banner_wrap {
    position: relative;
    font-size: 0;
    height: 100%;
}

.main_section .banner_wrap:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    background: rgba(0, 0, 0, 0);
}

.fixed_header .blue_btn {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #0fa1f0;
    border: 0;
    color: #fff;
    padding: 5px 64px;
    font-size: 18px;
}

.fixed_header .login_btn {
    background: transparent;
    border: 1px solid #fff;
    padding: 2px 14px;
    color: #fff;
    font-size: 17px;
    margin-left: 19px;
}

.fixed_header .cancel_home {
    background: transparent;
    padding: 0px 14px 10px 14px;
    font-size: 17px;
    margin-left: 19px;
}

.fixed_header .cancel_home img {
}

.fixed_header a {
    cursor: pointer;
    text-decoration: none;
    transition: 0.1s ease-in-out;
}

.fixed_header a:hover {
    text-decoration: none;
    opacity: 0.9;
}

.main_section .search_wrap {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    padding-top: 220px;
    padding-top: 6.5%;
}

.main_section h1 {
    font-size: 35px;
    color: #7e7e7e;
    font-weight: normal;
    line-height: 50px;
    font-family: 'HelveticaNeue Light';
}

.main_section .input_wrap {
    width: 450px;
    height: 50px;
    position: relative;
    background: #fff;
    margin: 77px auto 64px auto;
    text-align: left;
}

.main_section .input_wrap input {
    background: transparent;
    border: 0;
    /*width: 377px;*/
    position: absolute;
    top: 8px;
    /* left: 15px;*/
    height: 35px;
    font-size: 14px;
    z-index: 10;
}

/*.main_section .input_wrap .search_btn {
  background: #070716 url(../img/search_icon.jpg) no-repeat center;
  width: 41px;
  height: 41px;
  position: absolute;
  top: 4px;
  right: 4px;
  border: 0;
  cursor: pointer;
  transition: 0.1s ease-in-out;
  z-index:99999;
}*/
.main_section .input_wrap .search_btn:hover {
    opacity: 0.9;
}

.main_section .placeholder {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 14px;
    color: #8e8c8c;
    /*  line-height: 50px;*/
    letter-spacing: 1px;
    /* padding-left: 17px;*/
    line-height: 37px;
    padding-left: 60px;
}

.main_section .placeholder strong {
    font-size: 22px;
    color: #fa7000;
    font-weight: normal;
    letter-spacing: 0;
    padding-right: 8px;
}

.main_section .benefits {
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}

.main_section .benefits strong {
    font-size: 57px;
    display: inline-block;
    vertical-align: middle;
    font-weight: normal;
    padding-right: 8px;
}

.main_section .benefits span {
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
}

.main_section .benefits.one {
    border-right: 3px solid #fff;
    padding-right: 3px;
    padding-left: 28px;
}

.main_section .benefits.two {
    padding-left: 18px;
}

.why_color {
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 110px;
    text-align: center;
    font-size: 17.5px;
    padding-bottom: 40px;
    z-index: 3;
    display: inline-block;
    cursor: pointer;
    left: 50%;
    margin-left: -55px;
}

.choice_section {
    text-align: center;
    padding-top: 48px;
    padding-bottom: 50px;
}

.choice_section .title_label {
    background: #000000;
    color: #fff;
    display: inline-block;
    text-align: center;
    font-size: 13px;
    text-transform: uppercase;
    padding: 4px 11px;
}

.choice_section h2 {
    color: rgba(0, 0, 0, 0.7);
    font-size: 36px;
    font-weight: 300;
    text-transform: uppercase;
    margin-top: 23px;
    margin-bottom: 7px;
    padding-left: 15px;
    padding-right: 15px;
}

.choice_section h3 {
    font-size: 17px;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 300;
    margin-bottom: 59px;
    padding-left: 15px;
    padding-right: 15px;
}

.choice_container {
    width: 1068px;
    padding: 0 15px;
    margin: 0 auto;
}

.choice_row {
    margin: 0 -5px;
    font-size: 0;
}

.choice_section .column {
    display: inline-block;
    vertical-align: top;
    padding: 0 5px;
    width: 33.333%;
    margin-bottom: 10px;
}

.choice_section .choice_wrap {
    display: block;
    overflow: hidden;
    position: relative;
    height: 284px;
}

.choice_section .choice_wrap img {
    width: 100%;
    height: auto;
    min-height: 100%;
}

.choice_section p {
    color: #ffffff;
    font-size: 36px;
    font-weight: 300;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: left;
    left: 0;
    top: 0;
    padding: 58px 10px 10px 45px;
    background: rgba(45, 47, 67, 0.7);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.choice_section .choice_wrap.roll_down p,
.choice_section .choice_wrap:hover p {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    transform: translateY(100%);
}

.choice_section .choice_wrap p:before {
    content: "";
    width: 10px;
    height: 40px;
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: 58px;
    left: 0;
}

.choice_section p.orange:before {
    background: #e87404;
}

.choice_section p.pink:before {
    background: #b5038f;
}

.choice_section p.violet:before {
    background: #6103b5;
}

.choice_section p.blue:before {
    background: #0903b5;
}

.choice_section p.sky_blue:before {
    background: #0388b5;
}

.choice_section p.green:before {
    background: #2cb503;
}
/*.cartTopDetails{height:auto!important;}*/
.choice_section .blue_btn {
    color: #fff;
    font-size: 18px;
    background: #0fa1f0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-decoration: none;
    transition: 0.1s ease-in-out;
    display: inline-block;
    margin-top: 69px;
    padding: 5px 63px;
}

.choice_section .blue_btn:hover {
    opacity: 0.9;
    text-decoration: none;
}

.animate_selector {
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
    -moz-transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.animate_selector.animate {
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
	-ms-transform: scale(1); 
}


.home_tag h1 {
    color: #FFFFFF;
    font-size: 1px;
}

/*end of header*/
@media screen and (max-width: 1200px) {
    .main_section .search_wrap {
        padding-top: 10%;
    }

    .main_section .input_wrap {
        margin: 45px auto 45px auto;
    }

    .choice_container {
        width: 998px;
    }

 
	    .main_section .search_wrap {
        padding-top: 10%;
    }

    .main_section .input_wrap {
        margin: 45px auto 45px auto;
    }

    .choice_container {
        width: 998px;
    }

   

  

.header_tool2 a{display:block;}
}

@media screen and (max-width: 998px) {
    .choice_container {
        width: auto;
    }

    .choice_section p {
        font-size: 28px;

        padding-top: 25px;

        padding-left: 35px;
    }

    .choice_section .choice_wrap {
        height: 0;
        padding-bottom: 80%;
    }

    .choice_section .choice_wrap p:before {
        top: 30px;
    }

  

}

@media screen and (max-width: 768px) {
    .main_section .benefits strong {
        font-size: 40px;
    }

    .main_section h1 {
        font-size: 36px;
    }

    .main_section {
        min-height: 500px;
    }

    .choice_section .column {
        width: 50%;
    }

 
}

@media screen and (max-width: 570px) {
    .main_section .benefits.one {
        padding-left: 0;
    }

    .main_section .benefits.one,
    .main_section .benefits.two {
        width: 50%;
        padding-left: 15px;
        padding-right: 15px;
        text-align: center;
    }

    .main_section .benefits strong {
        display: block;
        padding: 0;
    }
/*
    .main_section .search_wrap {
        font-size: 0;
    }*/

    .main_section {
        min-height: 550px;
    }

    .main_section h1 {
        font-size: 30px;
        padding: 0 15px;
    }

    .main_section .input_wrap {
        margin-left: 15px;
        margin-right: 15px;
        width: auto;
    }

    .main_section .input_wrap input {
        width: 75%;
        width: calc(100% - 75px);
    }
}

@media screen and (max-width: 480px) {
    .main_section .placeholder {
        font-size: 12px;
        letter-spacing: 0;
    }

    .main_section .placeholder strong {
        font-size: 16px;
    }

    .choice_section .column {
        width: 100%;
    }

    .choice_section p {
        font-size: 32px;
    }

    .choice_section h2 {
        font-size: 28px;
    }

 
}

@media screen and (max-width: 400px) {
    .main_section .placeholder strong {
        font-size: 12px;

        padding-right: 0px;
    }

    .main_section .benefits strong {
        font-size: 36px;
    }

    .fixed_header .blue_btn {
        padding: 5px 20px;
    }
}



.header_main_section {
    background-color: #474646;
    background-image: url("../images/top_bg.jpg");
    background-repeat: repeat-x;
    height: 31px;
}

.header_main_section2 {
    margin: 0 auto;
    width: 1000px;
    font-family: Arial, Helvetica, sans-serif;
}

.header_section {
    float: left;
    height: 31px;
    text-align: right;
    width: 100%;
}



.menulink a {
    color: #7b7979!important;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
}




.cartHolder {
    background: #fff none repeat scroll 0 0;
    border-bottom: 1px dotted;
    border-top: 3px solid;
    margin: 0;
    padding-top: 1px;
    position: relative;
    width: 100%;
}

.cartHolder a {
    float: right;
    font-weight: normal;
    text-transform: uppercase;
}

.cart-top {
    display: block;
    float: right;
    height: 30px;
    padding-left: 30px;
    padding-top: 4px;
    width: 25px;
}



.cartTopDetails .cart_list.product_list_widget {
    position: relative!important;
    z-index: 99;
    border: 1px solid #CCCCCC;
    text-align: left;
	left:0px!important;
}




.cart_total3,.cart_total2 { line-height:30px;}
.cart_total3 a{ line-height:30px; font-size:12px;}


.cart_total5 {
    color: #575757;
    float: left;
    font-size: 22px;
    text-align: left;
    width: 40%;
}

.cart_total3 a {
    background: #ff6900 none repeat scroll 0 0;
    color: #ffffff!important;
    padding: 8px!important;
}

.cartTopDetails .product_list_widget .total {
    padding-left: 15px;
}

.cartTopDetails .product_list_widget li .quantity {
    float: right;
    font-size: 12px;
    font-weight: normal;
    padding-right: 15px;
}

.cartTopDetails .product_list_widget .buttons {
    float: left;
    margin-left: 15px;
}

.cartTopDetails .product_list_widget .buttons a {
    background: #3a3f43 none repeat scroll 0 0;
    margin: 10px 5px 15px 0;
    opacity: 1;
    padding: 6px 10px;
}

.widget_shopping_cart .buttons a {
    background: #3a3f43 none repeat scroll 0 0;
    opacity: 1 !important;
}

.total .amount {
    margin-right: 20px;
}

.cartTopDetails .product_list_widget .buttons a:hover {
    color: #fff !important;
}

.quick_pname a {
    color: #ff6500;
}

.quick_pname a:hover {
    text-decoration: underline;
}

.quick_cart_all {
    float: left;
    padding: 10px 0;
    width: 100%;
}

.quick_img {
    float: left;
    padding-right: 5px;
    width: 65px;
}

.quick_pname {
    color: #ff6900;
    float: left;
    font-size: 11px;
    line-height: 16px;
    text-align: left;
    width: 180px;
}

.quantity_quick {
    color: #000000;
}

.footer_main_section {
    float: left;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.footer_section {
    margin: 0 auto;
    width: 1000px;
}

.main_footer_section {
    float: left;
    width: 1000px;
}

.full2 {
    float: left;
    width: 100%;
}



.footerbox {
    float: left;
    width: 17%;
}

.footerbox2 {
    float: left;
    width: 23%;
}

.footerbox3 {
    float: left;
    width: 15%;
}

.footerbox4 {
    float: left;
    width: 23%;
}

.footerbox5 {
    float: left;
    width: 20%;
}

.pad_bottom_6 {
    padding-bottom: 6px;
}

.footertitle {
    color: #575757;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
}

.footerlink {
    color: #8d8c8c;
    font-size: 12px;
}

.footerlink li {
    margin: 0;
    padding: 0;
}

.footerlink a {
    color: #8d8c8c;
    padding: 0;
    text-decoration: none;
}

.terms2 {
    color: #817d7d;
    float: left;
    font-size: 11px;
    height: 30px;
    line-height: 30px;
    width: 100%;
}

.footer_section13 {
    float: left;
    text-align: left;
    width: 50%;
}

.footer_section14 {
    float: left;
    padding-right: 2%;
    text-align: right;
    width: 48%;
}

.footer_section15 {
    display: none;
    width: 600px;
}

.footer_section17 {
    float: left;
    padding-right: 2%;
    text-align: right;
    width: 98%;
}

.main_section .input_wrap2 {
    background: #fff none repeat scroll 0 0;
    position: relative;
}

#cssmenu ul ul.right_menu {
    position: absolute;
    border: 1px solid #bfbfbf;
    right: 50%;
    -webkit?transform: translateX(50%);
    transform: translateX(50%);
    background: #fff;
}

#cssmenu {
    line-height: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
	
}


/* for ipad*/

@media only screen and (min-width: 360px) and (max-width: 767px) 
{
 
 .main_section .placeholder strong{font-size:12px;}
}
@media only screen and (min-width: 768px) and (max-width: 979px) 
{

}
@media only screen and (min-width: 980px) and (max-width: 1279px) 
{

}













#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
    list-style: none;
    line-height: 1;
    position: relative;
}

#cssmenu ul li.has-sub a span {
    border-right: 2px solid #A49F9F;
    padding: 0px 8px;
}

#cssmenu ul li span.purchase_span {
    border-right: 2px solid #A49F9F;
    padding: 0px 8px;
}

/*#cssmenu span{color:#7b7979!important;}*/
#cssmenu:after,
#cssmenu > ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

#cssmenu #menu-button {
    display: none;
}

#cssmenu {
    width: auto;
    line-height: 1;
}

#menu-line {
    position: absolute;
    top: 0;
    left: 0;
    height: 3px;
}

#cssmenu > ul > li {

    /*float: left;*/
}

#cssmenu.align-center > ul {
    font-size: 0;
    text-align: center;
}

#cssmenu.align-center > ul > li {
    display: inline-block;
    float: none;
}

#cssmenu.align-center ul ul {
    text-align: left;
}

#cssmenu.align-right > ul > li {
    float: right;
}

#cssmenu.align-right ul ul {
    text-align: right;
}

#cssmenu > ul > li > a {
    text-decoration: none;
}

#cssmenu > ul > li:hover > a,
#cssmenu > ul > li.active > a {
    /*  color: #009ae1;*/
}

#cssmenu > ul > li.has-sub > a {
}

#cssmenu > ul > li.has-sub > a::after {
    position: absolute;
    top: 21px;
    right: 10px;
    width: 4px;
}

#cssmenu > ul > li.has-sub:hover > a::after {
    /*border-color: #009ae1;*/
}

#cssmenu ul ul {
    position: absolute;
    left: -9999px;
    /* left:-125px;*/
    border: 1px solid #bfbfbf;
}

#cssmenu ul ul.right_menu {
    position: absolute;
    right: 10px;
    border: 1px solid #bfbfbf;
}

#cssmenu ul ul li.contact a {
    line-height: 23px !important;
}

#cssmenu li:hover > ul {
    left: auto;
}

#cssmenu.align-right li:hover > ul {
    right: 0;
}

#cssmenu ul ul ul {
    margin-left: 100%;
    top: 0;
}

#cssmenu.align-right ul ul ul {
    margin-left: 0;
    margin-right: 100%;
}

#cssmenu ul ul li {
    /* height: 0;*/
}

#cssmenu ul li:hover > ul > li {
    /* height: 32px;*/
}

#cssmenu ul ul li a {
    text-decoration: none;
}

#cssmenu ul ul li:hover > a,
#cssmenu ul ul li a:hover {
}

#cssmenu ul ul li.has-sub > a::after {
    position: absolute;
    top: 13px;
    right: 10px;
    width: 4px;
    height: 4px;
    content: "";
}

#cssmenu.align-right ul ul li.has-sub > a::after {
    right: auto;
    left: 10px;
    border-bottom: 0;
    border-right: 0;
}

#cssmenu ul ul li.has-sub:hover > a::after {
}

@media only screen and (min-width: 799px) and (max-width: 980px) {
#cssmenu ul ul.right_menu{right: 50px;}
}
@media only screen and (min-width: 767px) and (max-width: 800px) {
/*#cssmenu ul li span.purchase_span{ border:none;}*/
/*#cssmenu ul li.has-sub a span{ border:none;}*/
#cssmenu ul ul.right_menu {transform:none;}
#cssmenu ul ul li a{padding:0!important; color: #7b7979!important; font-size:14px!important;}
.home_menu ul li ul.dropdown li{text-align:left!important;}
#cssmenu ul ul li:hover > a, #cssmenu ul ul li a:hover { color: #f60707!important;}
}



@media only screen and (min-width: 359px) and (max-width: 768px) {
#cssmenu ul li span.purchase_span{ border:none;}
#cssmenu ul li.has-sub a span{ border:none;}
#cssmenu ul ul.right_menu {transform:none;}
#cssmenu ul ul li a{padding:0!important; color: #7b7979!important; font-size:14px!important;}
.home_menu ul li ul.dropdown li{text-align:left!important;}
#cssmenu ul ul li:hover > a, #cssmenu ul ul li a:hover { color: #f60707!important;}
}
@media only screen and  (max-width: 320px) {
#cssmenu ul li span.purchase_span{ border:none;}
#cssmenu ul li.has-sub a span{ border:none;}
#cssmenu ul ul.right_menu {transform:none;}
#cssmenu ul ul li a{padding:0!important; color: #7b7979!important; font-size:14px!important;}
.home_menu ul li ul.dropdown li{text-align:left!important;}
#cssmenu ul ul li:hover > a, #cssmenu ul ul li a:hover { color: #f60707!important;}
.search_wrap img{width:100%;}
.main_section h1 { padding: 0 7px;}

}

@media all and (max-width: 768px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
    #cssmenu {
        width: 100%;
    }

    .fixed_header {
        min-width: 100% !important;
        padding: 0;
        text-align: left;
    }

    #cssmenu ul {
        width: 100%;
        display: none;
    }

    #cssmenu.align-center > ul,
    #cssmenu.align-right ul ul {
        text-align: left;
    }

    #cssmenu ul li,
    #cssmenu ul ul li,
    #cssmenu ul li:hover > ul > li {
        width: 100%;
        height: auto;
        border-top: 1px solid rgba(120, 120, 120, 0.15);
    }

    #cssmenu ul li a,
    #cssmenu ul ul li a {
        width: 100%;
    }

    #cssmenu > ul > li,
    #cssmenu.align-center > ul > li,
    #cssmenu.align-right > ul > li {
        float: none;
        display: block;
        padding: 14px 5px;

    }

    #cssmenu ul ul li a {
        padding: 20px 20px 20px 30px;
        font-size: 12px;
        color: #000000;
        background: none;
    }

    #cssmenu ul ul li:hover > a,
    #cssmenu ul ul li a:hover {
        color: #000000;
    }

    #cssmenu ul ul ul li a {
        padding-left: 40px;
    }

    #cssmenu ul ul,
    #cssmenu ul ul ul {
        position: relative;
        left: 0;
        right: auto;
        width: 100%;
        margin: 0;
    }

    #cssmenu ul ul.right_menu,
    #cssmenu ul ul.right_menu ul {
        position: relative;
        left: 0;
        right: auto;
        width: 100%;
        margin: 0;
    }

    #cssmenu > ul > li.has-sub > a::after,
    #cssmenu ul ul li.has-sub > a::after {
        display: none;
    }

    #menu-line {
        display: none;
    }

    #cssmenu #menu-button {
        display: block;
        padding: 20px;
        color: #000000;
        cursor: pointer;
        font-size: 12px;
        text-transform: uppercase;
    }

    #cssmenu #menu-button::after {
        content: '';
        position: absolute;
        top: 20px;
        right: 20px;
        display: block;
        width: 15px;
        height: 2px;
        background: #000000;
    }

    #cssmenu #menu-button::before {
        content: '';
        position: absolute;
        top: 25px;
        right: 20px;
        display: block;
        width: 15px;
        height: 3px;
        border-top: 2px solid #000000;
        border-bottom: 2px solid #000000;
    }

    #cssmenu .submenu-button {
        position: absolute;
        z-index: 10;
        right: 0;
        top: 0;
        display: block;
        border-left: 1px solid rgba(120, 120, 120, 0.15);
        height: 52px;
        width: 52px;
        cursor: pointer;
    }

    #cssmenu .submenu-button::after {
        content: '';
        position: absolute;
        top: 21px;
        left: 26px;
        display: block;
        width: 1px;
        height: 11px;
        background: #000000;
        z-index: 99;
    }

    #cssmenu .submenu-button::before {
        content: '';
        position: absolute;
        left: 21px;
        top: 26px;
        display: block;
        width: 11px;
        height: 1px;
        background: #000000;
        z-index: 99;
    }

    #cssmenu .submenu-button.submenu-opened:after {
        display: none;
    }

    #cssmenu ul ul {
        border: none !important;
    }

    #cssmenu a span {
        text-decoration: none !important;
        border:: none !important;
    }

    #cssmenu a {
        text-decoration: none !important;
        border:: none !important;
    }

    #cssmenu li {
        text-decoration: none !important;
        border:: none !important;
    }

    .main_section .input_wrap {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}









/*end of header*/
@media only screen and (min-width: 1920px) {
    .header_tool {
        padding-right: 17px;
    }

    .advance_search_box {
        width: 96%;
        padding: 2%;
        margin-bottom: 8px;
    }

   
}

@media screen and (max-width: 1280px) {
    .header_tool {
       /* width: 76px;*/
    }
	.header_tool2{width:118px;}
}



@media screen and (max-width: 998px) {
    .choice_container {
        width: auto;
    }

    .choice_section p {
        font-size: 28px;

        padding-top: 25px;

        padding-left: 35px;
    }

    .choice_section .choice_wrap {
        height: 0;
        padding-bottom: 80%;
    }

    .choice_section .choice_wrap p:before {
        top: 30px;
    }

    
}

@media screen and (max-width: 768px) {


    .main_section .benefits strong {
        font-size: 40px;
    }

    .main_section h1 {
        font-size: 36px;
    }

    .main_section {
        min-height: 500px;
    }

    .choice_section .column {
        width: 50%;
    }


}

@media screen and (max-width: 570px) {
    .main_section .benefits.one {
        padding-left: 0;
    }

    .main_section .benefits.one,
    .main_section .benefits.two {
        width: 50%;
        padding-left: 15px;
        padding-right: 15px;
        text-align: center;
    }

    .main_section .benefits strong {
        display: block;
        padding: 0;
    }

    .main_section .search_wrap {
        font-size: 0;
    }

    .main_section {
        min-height: 550px;
    }

    .main_section h1 {
        font-size: 30px;
        padding: 0 15px;
    }

    .main_section .input_wrap {
        margin-left: 15px;
        margin-right: 15px;
        width: auto;
    }

    .main_section .input_wrap input {
        width: 75%;
        width: calc(100% - 75px);
    }
}

@media screen and (max-width: 480px) {
    .main_section .placeholder {
        font-size: 12px;
        letter-spacing: 0;
    }

    .main_section .placeholder strong {
        font-size: 16px;
    }

    .choice_section .column {
        width: 100%;
    }

    .choice_section p {
        font-size: 32px;
    }

    .choice_section h2 {
        font-size: 28px;
    }


	
}

@media screen and (max-width: 400px) {
    .main_section .placeholder strong {
        font-size: 12px;

        padding-right: 0px;
    }

    .main_section .benefits strong {
        font-size: 36px;
    }

    .fixed_header .blue_btn {
        padding: 5px 20px;
    }
}
@media screen and (max-width: 320px) {
.header .logo{display:block;
}
.header .input_wrap {
    width: calc(100% - 0px) !important;
}
.header_tool{float: none;
    text-align: center;
    width: 100%;}
}

/* for ipad*/
@media only screen and (min-width: 320px) and (max-width: 359px) 
{
.input_wrap input{ width:200px!important;}
   .home_menu .search_wrap img{width:100%;}
   .main_section .placeholder strong{font-size:12px;}
}
@media only screen and (min-width: 360px) and (max-width: 767px) 
{
.input_wrap input{ width:278px!important;}
}
@media only screen and (min-width: 768px) and (max-width: 979px) 
{
.input_wrap input{ width:400px!important;}
.site_products_right{width:44%;}
}
@media only screen and (min-width: 980px) and (max-width: 1279px) 
{
.input_wrap input{ width:400px!important;}
}
@media only screen and (min-width: 979px) and (max-width: 1280px) {
#cssmenu ul ul.right_menu{right: 40px;}

}