
.menu__item-printing:hover>.menu__sub {
    display: block
}

.menu__item-printing .menu__sub-columnone::after {
    left: 25px
}

.menu__item-packaging:hover>.menu__sub {
    display: block
}

.menu__item-packaging .menu__sub-columnone::after {
    left: 35px
}

.menu__item-signage:hover>.menu__sub {
    display: block
}

.menu__item-signage .menu__sub-columnone::after {
    left: 32px
}

.menu__item-large:hover>.menu__sub {
    display: block
}

.menu__item-large .menu__sub {
    left: -75px
}

.menu__item-large .menu__sub-columnone::after {
    left: 120px
}

.menu__item-3d:hover>.menu__sub {
    display: block
}

.menu__item-3d .menu__sub {
    left: -25px
}

.menu__item-sublimation:hover>.menu__sub {
    display: block
}

.menu__item-sublimation .menu__sub {
    left: -200px
}

.menu__item-sublimation .menu__sub-columnone::after {
    left: 240px
}

.menu__item-embroidery:hover>.menu__sub {
    display: block
}

.menu__item-embroidery .menu__sub {
    left: -300px
}

.menu__item-embroidery .menu__sub-columnone::after {
    left: 335px
}

.menu__item-graphic:hover>.menu__sub {
    display: block
}

.menu__item-graphic .menu__sub {
    left: -450px
}

.menu__item-graphic .menu__sub-columnone::after {
    left: 495px
}

.menu__item-equipment:hover>.menu__sub {
    display: block
}

.menu__item-equipment .menu__sub {
    left: -565px
}

.menu__item-equipment .menu__sub-columnone::after {
    left: 605px
}

.header__category:hover .header__dropdown {
    display: block
}
/*.header__category:hover .header__dropdown .df_show>.header__subdropdown {
    display: block
}*/

.header__dropdown-printing:hover .header__subdropdown {
    display: block
}

.header__dropdown-signage:hover>.header__subdropdown {
    display: block
}

.header__dropdown-packaging:hover>.header__subdropdown {
    display: block
}

.header__dropdown-large:hover>.header__subdropdown {
    display: block
}

.header__dropdown-sublimation:hover>.header__subdropdown {
    display: block
}

.header__dropdown-embroidery:hover>.header__subdropdown {
    display: block
}

.header__dropdown-graphic:hover>.header__subdropdown {
    display: block
}

.header__dropdown-equipment:hover>.header__subdropdown {
    display: block
}

.header__nav-help:hover>.header__subnav {
    display: block
}

.header__nav-help .header__subnav {
    left: -30%;
    text-align: center
}

.menu__hidden-printing:hover>.menu__subdropdown-list {
    display: block
}

.menu__hidden-packaging:hover>.menu__subdropdown-list {
    display: block
}

.menu__hidden-signage:hover>.menu__subdropdown-list {
    display: block
}

.menu__hidden-3d:hover>.menu__subdropdown-list {
    display: block
}

.menu__hidden-large:hover>.menu__subdropdown-list {
    display: block
}

.menu__hidden-sublimation:hover>.menu__subdropdown-list {
    display: block
}

.menu__hidden-embroidery:hover>.menu__subdropdown-list {
    display: block
}

.menu__hidden-graphic:hover>.menu__subdropdown-list {
    display: block
}

.menu__hidden-equipment:hover>.menu__subdropdown-list {
    display: block
}

.invisibly {
    display: none;
    position: absolute;
    top: 0;
    z-index: 4;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .6)
}

.fixed-search {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    height: 109px
}

.header {
    background: #f3f3f3;
    position: relative;
    padding-top: 21px
}

.header__menu {
    display: none
}

.header__logo {
    float: right
}

.header__category {
    max-width: 200px;
    height: 40px;
    float: right;
    position: relative
}

.header__category-link {
    display: block;
    text-transform: capitalize;
    width: 100%;
    color: #817e7e;
    padding: 12px 5px 12px 10px;
    max-width: 200px;
    font-size: 1.2em;
    cursor: pointer;
    -webkit-transition: .5s ease;
    transition: .5s ease;
    border: 1px solid #cecece;
    background: #e3e3e3;
    float: left;
	line-height: 1;
}

.header__category-link:active,
.header__category-link:focus,
.header__category-link:hover {
    text-decoration: none;
    color: #262626
}

.header__category-icon {
    margin-left: 20px
}

.header__dropdown {
    display: none;
    position: absolute;
    width: 550px;
    height: 350px;
    border: 1px solid rgba(134, 130, 130, .54);
    background-color: #fff;
    z-index: 26;
    top: 40px;
    left: 0
}

.header__dropdown-columnone {
    display: block;
    height: 260px;
    position: absolute;
    top: 0;
    border: none;
    background: #fff;
    margin-top: 22px;
    z-index: 27;
    border-right: 1px solid rgba(134, 130, 130, .54)
}

.header__dropdown-columnone::after {
    content: '';
    display: block;
    position: absolute;
    top: -28px;
    left: 157px;
    width: 10px;
    height: 10px;
    background: #fff;
    border-right: 1px solid rgba(134, 130, 130, .54);
    border-bottom: 1px solid rgba(134, 130, 130, .54);
    -moz-transform: rotate(225deg);
    -webkit-transform: rotate(225deg)
}

.header__dropdown-list {
    list-style-type: none
}

.header__dropdown-item {
    text-align: left;
    width: 179px;
    padding: 0 20px;
}

.header__dropdown-link {
    color: #707272;
    font-size: 1.1em;
    line-height: 22px
}

.header__dropdown-link:active,
.header__dropdown-link:focus,
.header__dropdown-link:hover {
    text-decoration: none;
    color: #ff3800
}

.header__subdropdown {
    display: none;
    height: auto;
    width: 360px;
    position: absolute;
    top: 0;
    left: 170px;
    border: none;
    z-index: 11
}

.header__subdropdown-list {
    list-style-type: none;
    padding-left: 20px
}

.header__subdropdown-item {
    width: 50%;
    float: left
}

.header__subdropdown-link {
    display: block;
    margin-right: 20px;
    color: #707272;
    font-size: 1.1em;
    line-height: 20px
}

.header__subdropdown-link:active,
.header__subdropdown-link:focus,
.header__subdropdown-link:hover {
    text-decoration: undelline;
    color: #ff3800
}

.header__form {
    display: block;
    max-width: 650px
}

.header__form-button {
    position: absolute;
    padding: 0;
    height: 40px;
    line-height: 40px;
    width: 40px;
    top: 0;
    right: 0;
    border: none;
    background-color: #3a444d
}

.header__form-button:active,
.header__form-button:focus,
.header__form-button:hover {
    outline: 0;
    background: #444d55;
}

.header__form-btn {
    font-size: 1.4em;
    color: #fff
}

.header__request {
    max-width: 175px;
    height: 40px;
    float: left;
    margin-left: 10px
}

.header__request-link {
    display: block;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    padding: 13px 13px;
    font-size: 1.1em;
    font-family: helvetica_bold, sans-serif;
    max-width: 200px;
    width: 100%;
    cursor: pointer;
    -webkit-transition: .5s ease;
    transition: .5s ease;
    background: #189299;
    float: left
}

.header__request-link:active,
.header__request-link:focus,
.header__request-link:hover {
    text-decoration: none;
    background: #11686d;
    color: #fff
}

.header__request-linkSeller {
    display: block;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    padding: 14px 1px;
    font-size: 1.0em;
    max-width: 200px;
    width: 100%;
    cursor: pointer;
    -webkit-transition: .5s ease;
    transition: .5s ease;
    background: #3a444d;
    float: left;
	height:40px;
	line-height:1;
}

.header__request-linkSeller:active,
.header__request-linkSeller:focus,
.header__request-linkSeller:hover {
    text-decoration: none;
    background: #444d55;
    color: #fff
}

.header__nav {
    display: block;
    max-width: 200px;
    line-height: 40px;
    width: 100%;
    float: left
}

.header__nav-seller {
    max-width: 400px;
    margin-left: 10px
}

.header__nav-list {
    list-style-type: none
}

.header__nav-item {
    display: inline-block;
    position: relative
}

.header__nav-link {
    display: block;
    color: #817e7e;
    padding: 0 10px;
    cursor: pointer;
    font-size: 1.2em;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    float: left;
    outline: 0;
	font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
}

.header__nav-link:active,
.header__nav-link:focus,
.header__nav-link:hover {
    text-decoration: none;
    color: #262626
}

.header__nav-link:first-child {
    padding-left: 0
}

.header__nav-icon {
    font-size: 1.4em;
    width: 40px;
    height: 40px;
    margin-top: -5px
}

.header__nav-value {
    position: relative;
    top: 2px;
    right: 2px;
    color: #817e7e
}

.header__nav-account:hover>.header__subnav,
.header__nav-help:hover>.header__subnav {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1)
}

.header__subnav {
    list-style-type: none;
    position: absolute;
    width: 210px;
    top: 103%;
    left: 100%;
    z-index: 502;
    line-height: 1;
    margin-left: -105px;
    background: #fff;
    border: 1px solid #cecece;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: scale(.8);
    -ms-transform: scale(.8);
    transform: scale(.8);
    -webkit-transition: .4s ease-in-out;
    transition: .4s ease-in-out
}

.header__subnav-item {
    padding: 10px 10px;
    border-bottom: 1px solid #cecece
}

.header__subnav-item:first-child {
    padding-top: 20px;
    
}

.header__subnav-item:last-child:hover .header__subnav-link:last-child {
    color: #f24010
}

.header__subnav-item:last-child {
    padding-bottom: 17px
}

.header__subnav-link {
    color: #817e7e;
    -webkit-transition: .5s ease;
    transition: .5s ease;
	 font-size: 1.1em;
}
.link_bold{font-weight:bold;}

.header__subnav-link:active,
.header__subnav-link:focus,
.header__subnav-link:hover {
    text-decoration: none;
    color: #ff3800;
	 font-size: 1.1em;
}

.menu {
    height: auto;
    background-color: #fff
}

.menu__list {
    list-style-type: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.menu__item {
    float: left;
    position: relative;
    text-align: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row
}

.menu__link {
    display: block;
    color: #817e7e;
    font-size: 1.2em;
    padding: 10px;
    cursor: pointer;
    -webkit-transition: .5s ease;
    transition: .5s ease;
    margin-right: 50px
}

.menu__link:active,
.menu__link:focus,
.menu__link:hover {
    text-decoration: none;
    color: #ff3800
}

.menu__link-last {
    margin-right: 0
}

.menu__sub {
    display: none;
    position: absolute;
    width: 653px;
    border: 1px solid rgba(134, 130, 130, .54);
    z-index: 25;
    top: 33px;
    background-color: #fff;
    left: 0
}

.menu__sub_big{
    width: 850px;
}
.menu__sub-columnone {
    display: inline-block;
    width: 204px;
    border: none;
    background-color: #fff;
    margin-top: 22px;
    float: left
}

.menu__sub-columnone::after {
    content: '';
    display: block;
    position: absolute;
    top: -6px;
    left: 40px;
    width: 10px;
    height: 10px;
    background: #fff;
    border-right: 1px solid rgba(134, 130, 130, .54);
    border-bottom: 1px solid rgba(134, 130, 130, .54);
    -moz-transform: rotate(225deg);
    -webkit-transform: rotate(225deg)
}

.menu__sub-list {
    list-style-type: none;
    padding-bottom: 25px
}

.menu__sub-item {
    text-align: left;
    width: 202px;
    padding-left: 30px;
    border-right: 1px solid rgba(134, 130, 130, .54)
}

.menu__sub-link {
    color: #707272;
    font-size: 1.1em;
    line-height: 20px
}

.menu__sub-link:active,
.menu__sub-link:focus,
.menu__sub-link:hover {
    text-decoration: none;
    color: #ff3800
}

.menu__sub-columntwo {
    display: inline-block;
    width: 204px;
    border: none;
    margin-top: 22px;
    float: left
}

.menu__sub-image {
    display: inline-block;
    width: 243px;
    padding: 0;
    border: none;
    background: #fff;
    margin-top: 8px;
    float: right
}

.menu__sub-img {
    width: 200px;
    height: 188px;
    vertical-align: middle;
    margin: 15px 0 15px 0
}


.menu__sub-columntwo_large {
  
}
.menu__sub-columnthree {
    display: block;
    height: 234px;
    position: absolute;
    top: 0;
    left: 406px;
    border: none;
    background: #fff;
    margin-top: 22px;
    
}

.menu__sub-image_big {
    left: 610px;
}

.menu__sub-heading {
    color: #178178;
    font-size: 1.5em
}

.menu__sub-text {
    color: rgba(0, 0, 0, .6);
    line-height: 18px
}

.menu__hidden {
    position: fixed;
    display: none;
    z-index: 500;
    top: 87px;
    right: 0;
    width: 100%;
    height: 5000px;
    border: none;
    background-color: rgba(255, 255, 255, .9)
}

.menu__hidden-list {
    list-style-type: none
}
/*
.menu__hidden-item {
    padding: 10px 50px
}*/

.menu__hidden-link {
    display: block;
    width: 100%;
    text-align: center;
    /*font-size: 2em;*/
    color: #817e7e;
    cursor: pointer;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    outline: 0
}

.menu__hidden-link:active,
.menu__hidden-link:focus,
.menu__hidden-link:hover {
    text-decoration: none;
    color: #262626
}

.menu__subdropdown-list {
    display: none;
    list-style-type: none;
    text-align: center
}

.menu__subdropdown-item {
    line-height: 20px
}

.menu__subdropdown-link {
    display: inline-block;
    width: 50%;
    text-align: center;
    font-size: 1em;
    color: #817e7e;
    cursor: pointer;
    outline: 0
}

.menu__subdropdown-link:active,
.menu__subdropdown-link:focus,
.menu__subdropdown-link:hover {
    text-decoration: underline;
    color: #262626
}

.main {
    margin-top: 307px
}

.main__illustration {
    max-width: 100%;
    height: 612px;
    background: url(../images/main_picture.jpg) center center no-repeat;
    background-size: cover
}

.main__background {
    max-width: 100%;
    height: 612px;
    background-color: #7350a2
}


.menu__item-printing:hover>.menu__sub {
    display: block
}

.menu__item-printing .menu__sub-columnone::after {
    left: 25px
}

.menu__item-packaging:hover>.menu__sub {
    display: block
}

.menu__item-packaging .menu__sub-columnone::after {
    left: 35px
}

.menu__item-signage:hover>.menu__sub {
    display: block
}

.menu__item-signage .menu__sub-columnone::after {
    left: 32px
}

.menu__item-large:hover>.menu__sub {
    display: block
}

.menu__item-large .menu__sub {
    left: -75px
}

.menu__item-large .menu__sub-columnone::after {
    left: 120px
}

.menu__item-3d:hover>.menu__sub {
    display: block
}

.menu__item-3d .menu__sub {
    left: -25px
}

.menu__item-sublimation:hover>.menu__sub {
    display: block
}

.menu__item-sublimation .menu__sub {
    left: -200px
}

.menu__item-sublimation .menu__sub-columnone::after {
    left: 240px
}

.menu__item-embroidery:hover>.menu__sub {
    display: block
}

.menu__item-embroidery .menu__sub {
    left: -300px
}

.menu__item-embroidery .menu__sub-columnone::after {
    left: 335px
}

.menu__item-graphic:hover>.menu__sub {
    display: block
}

.menu__item-graphic .menu__sub {
    left: -450px
}

.menu__item-graphic .menu__sub-columnone::after {
    left: 495px
}

.menu__item-equipment:hover>.menu__sub {
    display: block
}

.menu__item-equipment .menu__sub {
    left: -565px
}

.menu__item-equipment .menu__sub-columnone::after {
    left: 605px
}

.header__category:hover .header__dropdown {
    display: block
}
/*.header__category:hover .header__dropdown .df_show>.header__subdropdown {
    display: block
}*/

.header__dropdown-printing:hover .header__subdropdown {
    display: block
}

.header__dropdown-signage:hover>.header__subdropdown {
    display: block
}

.header__dropdown-packaging:hover>.header__subdropdown {
    display: block
}

.header__dropdown-large:hover>.header__subdropdown {
    display: block
}

.header__dropdown-sublimation:hover>.header__subdropdown {
    display: block
}

.header__dropdown-embroidery:hover>.header__subdropdown {
    display: block
}

.header__dropdown-graphic:hover>.header__subdropdown {
    display: block
}

.header__dropdown-equipment:hover>.header__subdropdown {
    display: block
}

.header__nav-help:hover>.header__subnav {
    display: block
}

.header__nav-help .header__subnav {
    left: -30%;
    text-align: center
}

.menu__hidden-printing:hover>.menu__subdropdown-list {
    display: block
}

.menu__hidden-packaging:hover>.menu__subdropdown-list {
    display: block
}

.menu__hidden-signage:hover>.menu__subdropdown-list {
    display: block
}

.menu__hidden-3d:hover>.menu__subdropdown-list {
    display: block
}

.menu__hidden-large:hover>.menu__subdropdown-list {
    display: block
}

.menu__hidden-sublimation:hover>.menu__subdropdown-list {
    display: block
}

.menu__hidden-embroidery:hover>.menu__subdropdown-list {
    display: block
}

.menu__hidden-graphic:hover>.menu__subdropdown-list {
    display: block
}

.menu__hidden-equipment:hover>.menu__subdropdown-list {
    display: block
}

.invisibly {
    display: none;
    position: absolute;
    top: 0;
    z-index: 4;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .6)
}

.fixed-search {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    height: 109px
}

.header {
    background: #f3f3f3;
    position: relative;
    padding-top: 21px
}

.header__menu {
    display: none
}

.header__logo {
    float: right
}

.header__category {
    max-width: 200px;
    height: 40px;
    float: right;
    position: relative
}

.header__category-link {
    display: block;
    text-transform: capitalize;
    width: 100%;
    color: #817e7e;
    padding: 12px 5px 12px 10px;
    max-width: 200px;
    font-size: 1.2em;
    cursor: pointer;
    -webkit-transition: .5s ease;
    transition: .5s ease;
    border: 1px solid #cecece;
    background: #e3e3e3;
    float: left;
	line-height: 1;
}

.header__category-link:active,
.header__category-link:focus,
.header__category-link:hover {
    text-decoration: none;
    color: #262626
}

.header__category-icon {
    margin-left: 20px
}

.header__dropdown {
    display: none;
    position: absolute;
    width: 550px;
    height: 350px;
    border: 1px solid rgba(134, 130, 130, .54);
    background-color: #fff;
    z-index: 26;
    top: 40px;
    left: 0
}

.header__dropdown-columnone {
    display: block;
    height: 260px;
    position: absolute;
    top: 0;
    border: none;
    background: #fff;
    margin-top: 22px;
    z-index: 27;
    border-right: 1px solid rgba(134, 130, 130, .54)
}

.header__dropdown-columnone::after {
    content: '';
    display: block;
    position: absolute;
    top: -28px;
    left: 157px;
    width: 10px;
    height: 10px;
    background: #fff;
    border-right: 1px solid rgba(134, 130, 130, .54);
    border-bottom: 1px solid rgba(134, 130, 130, .54);
    -moz-transform: rotate(225deg);
    -webkit-transform: rotate(225deg)
}

.header__dropdown-list {
    list-style-type: none
}

.header__dropdown-item {
    text-align: left;
    width: 179px;
    padding: 0 20px;
}

.header__dropdown-link {
    color: #707272;
    font-size: 1.1em;
    line-height: 22px
}

.header__dropdown-link:active,
.header__dropdown-link:focus,
.header__dropdown-link:hover {
    text-decoration: none;
    color: #ff3800
}

.header__subdropdown {
    display: none;
    height: auto;
    width: 360px;
    position: absolute;
    top: 0;
    left: 170px;
    border: none;
    z-index: 11
}

.header__subdropdown-list {
    list-style-type: none;
    padding-left: 20px
}

.header__subdropdown-item {
    width: 50%;
    float: left
}

.header__subdropdown-link {
    display: block;
    margin-right: 20px;
    color: #707272;
    font-size: 1.1em;
    line-height: 20px
}

.header__subdropdown-link:active,
.header__subdropdown-link:focus,
.header__subdropdown-link:hover {
    text-decoration: undelline;
    color: #ff3800
}

.header__form {
    display: block;
    max-width: 650px
}

.header__form-button {
    position: absolute;
    padding: 0;
    height: 40px;
    line-height: 40px;
    width: 40px;
    top: 0;
    right: 0;
    border: none;
    background-color: #3a444d
}

.header__form-button:active,
.header__form-button:focus,
.header__form-button:hover {
    outline: 0;
    background: #444d55;
}

.header__form-btn {
    font-size: 1.4em;
    color: #fff
}

.header__request {
    max-width: 175px;
    height: 40px;
    float: left;
    margin-left: 10px
}

.header__request-link {
    display: block;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    padding: 13px 13px;
    font-size: 1.1em;
    font-family: helvetica_bold, sans-serif;
    max-width: 200px;
    width: 100%;
    cursor: pointer;
    -webkit-transition: .5s ease;
    transition: .5s ease;
    background: #189299;
    float: left
}

.header__request-link:active,
.header__request-link:focus,
.header__request-link:hover {
    text-decoration: none;
    background: #11686d;
    color: #fff
}

.header__request-linkSeller {
    display: block;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    padding: 14px 1px;
    font-size: 1.0em;
    max-width: 200px;
    width: 100%;
    cursor: pointer;
    -webkit-transition: .5s ease;
    transition: .5s ease;
    background: #3a444d;
    float: left;
	height:40px;
	line-height:1;
}

.header__request-linkSeller:active,
.header__request-linkSeller:focus,
.header__request-linkSeller:hover {
    text-decoration: none;
    background: #444d55;
    color: #fff
}

.header__nav {
    display: block;
    max-width: 200px;
    line-height: 40px;
    width: 100%;
    float: left
}

.header__nav-seller {
    max-width: 400px;
    margin-left: 10px
}

.header__nav-list {
    list-style-type: none
}

.header__nav-item {
    display: inline-block;
    position: relative
}

.header__nav-link {
    display: block;
    color: #817e7e;
    padding: 0 10px;
    cursor: pointer;
    font-size: 1.2em;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    float: left;
    outline: 0;
	font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
}

.header__nav-link:active,
.header__nav-link:focus,
.header__nav-link:hover {
    text-decoration: none;
    color: #262626
}

.header__nav-link:first-child {
    padding-left: 0
}

.header__nav-icon {
    font-size: 1.4em;
    width: 40px;
    height: 40px;
    margin-top: -5px
}

.header__nav-value {
    position: relative;
    top: 2px;
    right: 2px;
    color: #817e7e
}

.header__nav-account:hover>.header__subnav,
.header__nav-help:hover>.header__subnav {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1)
}

.header__subnav {
    list-style-type: none;
    position: absolute;
    width: 210px;
    top: 103%;
    left: 100%;
    z-index: 502;
    line-height: 1;
    margin-left: -105px;
    background: #fff;
    border: 1px solid #cecece;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: scale(.8);
    -ms-transform: scale(.8);
    transform: scale(.8);
    -webkit-transition: .4s ease-in-out;
    transition: .4s ease-in-out
}

.header__subnav-item {
    padding: 10px 10px;
    border-bottom: 1px solid #cecece
}

.header__subnav-item:first-child {
    padding-top: 20px;
    
}

.header__subnav-item:last-child:hover .header__subnav-link:last-child {
    color: #f24010
}

.header__subnav-item:last-child {
    padding-bottom: 17px
}

.header__subnav-link {
    color: #817e7e;
    -webkit-transition: .5s ease;
    transition: .5s ease;
	 font-size: 1.1em;
}
.link_bold{font-weight:bold;}

.header__subnav-link:active,
.header__subnav-link:focus,
.header__subnav-link:hover {
    text-decoration: none;
    color: #ff3800;
	 font-size: 1.1em;
}

.menu {
    height: auto;
    background-color: #fff
}

.menu__list {
    list-style-type: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.menu__item {
    float: left;
    position: relative;
    text-align: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row
}

.menu__link {
    display: block;
    color: #817e7e;
    font-size: 1.2em;
    padding: 10px;
    cursor: pointer;
    -webkit-transition: .5s ease;
    transition: .5s ease;
    margin-right: 50px
}

.menu__link:active,
.menu__link:focus,
.menu__link:hover {
    text-decoration: none;
    color: #ff3800
}

.menu__link-last {
    margin-right: 0
}

.menu__sub {
    display: none;
    position: absolute;
    width: 653px;
    border: 1px solid rgba(134, 130, 130, .54);
    z-index: 25;
    top: 33px;
    background-color: #fff;
    left: 0
}

.menu__sub_big{
    width: 850px;
}
.menu__sub-columnone {
    display: inline-block;
    width: 204px;
    border: none;
    background-color: #fff;
    margin-top: 22px;
    float: left
}

.menu__sub-columnone::after {
    content: '';
    display: block;
    position: absolute;
    top: -6px;
    left: 40px;
    width: 10px;
    height: 10px;
    background: #fff;
    border-right: 1px solid rgba(134, 130, 130, .54);
    border-bottom: 1px solid rgba(134, 130, 130, .54);
    -moz-transform: rotate(225deg);
    -webkit-transform: rotate(225deg)
}

.menu__sub-list {
    list-style-type: none;
    padding-bottom: 25px
}

.menu__sub-item {
    text-align: left;
    width: 202px;
    padding-left: 30px;
    border-right: 1px solid rgba(134, 130, 130, .54)
}

.menu__sub-link {
    color: #707272;
    font-size: 1.1em;
    line-height: 20px
}

.menu__sub-link:active,
.menu__sub-link:focus,
.menu__sub-link:hover {
    text-decoration: none;
    color: #ff3800
}

.menu__sub-columntwo {
    display: inline-block;
    width: 204px;
    border: none;
    margin-top: 22px;
    float: left
}

.menu__sub-image {
    display: inline-block;
    width: 243px;
    padding: 0;
    border: none;
    background: #fff;
    margin-top: 8px;
    float: right
}

.menu__sub-img {
    width: 200px;
    height: 188px;
    vertical-align: middle;
    margin: 15px 0 15px 0
}


.menu__sub-columntwo_large {
  
}
.menu__sub-columnthree {
    display: block;
    height: 234px;
    position: absolute;
    top: 0;
    left: 406px;
    border: none;
    background: #fff;
    margin-top: 22px;
    
}

.menu__sub-image_big {
    left: 610px;
}

.menu__sub-heading {
    color: #178178;
    font-size: 1.5em
}

.menu__sub-text {
    color: rgba(0, 0, 0, .6);
    line-height: 18px
}

.menu__hidden {
    position: fixed;
    display: none;
    z-index: 500;
    top: 87px;
    right: 0;
    width: 100%;
    height: 5000px;
    border: none;
    background-color: rgba(255, 255, 255, .9)
}

.menu__hidden-list {
    list-style-type: none
}
/*
.menu__hidden-item {
    padding: 10px 50px
}*/

.menu__hidden-link {
    display: block;
    width: 100%;
    text-align: center;
    /*font-size: 2em;*/
    color: #817e7e;
    cursor: pointer;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    outline: 0
}

.menu__hidden-link:active,
.menu__hidden-link:focus,
.menu__hidden-link:hover {
    text-decoration: none;
    color: #262626
}

.menu__subdropdown-list {
    display: none;
    list-style-type: none;
    text-align: center
}

.menu__subdropdown-item {
    line-height: 20px
}

.menu__subdropdown-link {
    display: inline-block;
    width: 50%;
    text-align: center;
    font-size: 1em;
    color: #817e7e;
    cursor: pointer;
    outline: 0
}

.menu__subdropdown-link:active,
.menu__subdropdown-link:focus,
.menu__subdropdown-link:hover {
    text-decoration: underline;
    color: #262626
}

.main {
    margin-top: 307px
}

.main__illustration {
    max-width: 100%;
    height: 612px;
    background: url(../images/main_picture.jpg) center center no-repeat;
    background-size: cover
}

.main__background {
    max-width: 100%;
    height: 612px;
    background-color: #7350a2
}
