.ui-widget-content {
        background-color: #FFFFFF;
        padding: 0;
    }

    #frmSearch .ui-state-focus {
        background: none !important;
        border: none !important;
        background-image: none !important
    }

    .ui-menu-item span {
        display: inline;
    }

    .ui-menu-item img {
        display: inline;
        float: left;
        border: 1px solid #CCCCCC;
        margin-right: 5px;
    }

    .ui-menu .ui-menu-item a {
        display: inline-block !important;
        padding: 5px 0px;
        width: 90%;
    }

    .ui-autocomplete .ui-state-hover,
    .ui-autocomplete .ui-widget-content .ui-state-hover,
    .ui-autocomplete .ui-widget-header .ui-state-hover,
    .ui-autocomplete .ui-state-focus,
    .ui-autocomplete .ui-widget-content .ui-state-focus,
    .ui-autocomplete .ui-widget-header .ui-state-focus {
        background: #FCFCFC !important;
        background-image: none !important;
        border: none !important;
    }

   /* .ui-autocomplete {
        width: 433px !important;
        padding: 0 4px;
    }*/
	.ui-autocomplete-multiselect{
        width: 411px !important;
        padding: 0 4px;
    }
.ui-autocomplete-multiselect-item{font-size:12px; margin-top:9px!important; margin-left:2px;}
    .ui-autocomplete li a {
        color: #817d7d !important;
        cursor: pointer !important;
        font-family: Arial, Helvetica, sans-serif !important;
        font-size: 12px !important;
    }

    .ui-autocomplete li {
        color: #817d7d !important;
        cursor: pointer !important;
        font-family: Arial, Helvetica, sans-serif !important;
        clear: both;
        font-size: 12px !important;
		padding:0 6px!important;
    }

    .ui-autocomplete .subcatname {
        color: #ef6304 !important;
        font-weight: bold;
        margin-left: 10px;
    }

    .ui-autocomplete .highlight {
        font-weight: bold;
        color: #000000;
    }

    .ui-autocomplete .popular {
        padding: 10px 0px 0px 0px;
    }

    /* .input_wrap input {
         width: 870px !important;
     }*/

    .ui-autocomplete-multiselect.ui-state-default {
       /* margin-left: 207px !important; margin-top: 3px; */
	   margin-left:0px!important;margin-top: 0px; 
    }
	.ui-button, .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, html .ui-button.ui-state-disabled:active, html .ui-button.ui-state-disabled:hover{height:41px!important; padding:3px 3px 3px 0px;}
@media screen and (min-width: 1400px) {.ui-autocomplete-multiselect{width:100%!important;}}
