@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'Helvetica';
    src: url('../../fonts/helvetica-webfont.eot');
    src: url('../../fonts/helvetica-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/helvetica-webfont.woff') format('woff'),
    url('../../fonts/helvetica-webfont.ttf') format('truetype'),
    url('../../fonts/helvetica-webfont.svg#icons') format('svg');
}

body {
    font-family: "Helvetica";
}